<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" rel="stylesheet"/>
    <link href="http://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="http://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="app" class="container py-4 pt-4 pr-4 pl-4" style="margin-top:27px">

 	<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <div class="row">
		    	<lu><div class="col"><h4> Bienvenido <strong>[[ username]]</strong>, estás en la sala número "[[channel]]" </h4></div></lu>
		    	<lu><div class="col">
		    		<h4>
						<button id="myButton"  onClick="location.href='home'" class="button is-danger" title="Salir"><i class="fas fa-sign-out-alt fa-2x"></i></button>
		    		</h4>
		    	</div>
		    </lu>
		    </div>
		   
		  </div>
		</nav> 

		<div class="row justify-content-center">
			<div class="col-10 my-5 text-center box bg-info">
				<span class="text-white">Envíale un saludo a todos los miembros de la sala.</span>
			</div>
		</div> 
		<div class="row mb-5">
			<div class="col">
	    <section class="messages">

	    	<div v-for="message in messages" >
    			<div v-if="message.username == username">
	        		<div class="row mt-2">
						<div class="col-6">
	        			</div>
    					<div class="col-6 box mt-2 bg-success">
	            			<article class="media">
	                			<div class="media-content">
	                   				<div class="content">
	                        			<div class="row">
	                        				<div class="col">
	                        					<strong><p class=" text-white">[[ message.text ]]</p>	</strong>
	                        				</div>
	                        			</div>
	                   				 </div>
	                			</div>
							</article>

	            		</div>
	        		</div>
	        	</div>

	        	<div v-else>
	        		<div class="row mt-2">
    					<div class="col-6 box mt-2 bg-info">
	            			<article class="media">

	                			<div class="media-content">
	                   				<div class="content">
	                        			<div class="row">
	                        				<div class="col">
	                        					<p><strong class=" text-white">[[ message.username ]]</strong> dice:</p>
	                        					<strong><p class=" text-white">[[ message.text ]]</p></strong>
	                        				</div>
	                        			</div>
	                   				 </div>
	                			</div>
	           				</article>
	            		</div>
	        		</div>
	        	</div>
	    	</div>

	    </section>
	    </div>
		</div>
		<div class="row mb-5">
			
		</div>
		<div class="row">
			<div class="col">

	    	<section class="new-message mr-2 ml-2 box bg-secondary">
	        <div class="field has-addons">
	            <div class="control is-expanded">
	                <input v-model="newMessage" @keypress.enter="sendMessage" class="input" type="text" placeholder="Escribe un mensaje...">
	            </div>
	            <div class="control">
	                <button @click="sendMessage" class="button is-info"><i class="fas fa-share"></i></button>
	            </div>
	        </div>
	    </section>
	    </div>
		</div>

    </div>
    <script src="{{ url_for('static', filename='js/vendor/socket.io.slim.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/vue.min.js') }}"></script>
    <script>
	    var socket = io.connect('{{ domain }}');
	    var app = new Vue({
		    el: "#app",
		    delimiters: ['[[', ']]'],
		    data: {
		    	channel: {{ channel }},
		    	username: '{{ username }}',
		    	messages: [
		    	{% for message in chat %}
		    		{
		    			username: '{{ message.username }}',
		    			text: '{{ message.text }}'
		    		}{% if not loop.last %},{% endif %}
		    	{% endfor %}
		    	],
		    	newMessage: ''
		    },
		    methods: {
		    	sendMessage: () => {
		    		// Send new message
					socket.emit('new_message', {
				    	channel: app.channel,
				    	username: app.username,
				    	text: app.newMessage
				    });
				    // Clear text
				    app.$set(app, 'newMessage', '');
		    	}
		    }
		});

		socket.on('connect', function() {
		    console.log('Connect')
		});

		socket.on('channel-' + app.channel, function(msg) {
			// Add new message to HTML
			let my_messages = app.messages;
			my_messages.push({
				username: msg.username,
				text: msg.text
			})
		    app.$set(app, 'messages', my_messages);
		});
    </script>
</body>

</html>
