<div class="jumbotron text-center">
    <h1>Bienvenidos!</h1>
    <p>¡Empieza ya!, a chatear con tus amigos.</p>
</div>
    <div container>
        <div class="text-center">
            <form method="POST" action="{{url_for('open_chat')}}">
                <br>Nombre de usuario<br>
                <input name="name" required type="text" placeholder="Nombre">
                <br>Channel<br>
                <input name="channel" required type="number" placeholder="channel">
                <br><br>
                <input type="submit" value="Ingresar">
            </form>
        </div>
    </div>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>